name: Build and Deploy to username.github.io
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy to baoyudai.github.io
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: build
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: baoyudai/baoyudai.github.io
